<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ReadyPortalDBEntities" connectionString="metadata=res://*/Models.DataModel.csdl|res://*/Models.DataModel.ssdl|res://*/Models.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:triyo.database.windows.net,1433;Initial Catalog=triyo-prod;Persist Security Info=False;User ID=triyo_user;Password=P@ssw0rd;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="SMTPServer" value="smtp.gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Password" value="Triyosoft2018!" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Email" value="notifications@triyosoft.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Port" value="587" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SiteUrl" value="https://triyo.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="connectionString" value="Server=tcp:triyo.database.windows.net,1433;Initial Catalog=triyo-prod;Persist Security Info=False;User ID=chris;Password=2e7h9.Mihalicz2;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
