<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings xdt:Transform="Replace">
    <add name="ReadyPortalDBEntities" connectionString="metadata=res://*/Models.DataModel.csdl|res://*/Models.DataModel.ssdl|res://*/Models.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\mssqlserver01;initial catalog=Triyo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="Z_EntityFramework_Extensions_LicenseName" value="899;100-ThreePointTurn"/>
    <add key="Z_EntityFramework_Extensions_LicenseKey" value="0a118992-dd2b-152a-61cb-7a163a8f13e5"/>
    <!--<add key="SMTPServer" value="smtp.office365.com"/>
    <add key="Password" value="Topsecret1!"/>
    <add key="Email" value="emailarchive@threepointturn.com"/>
    <add key="Port" value="587"/>-->
    <add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="Password" value="Triyosoft2018!"/>
    <add key="Email" value="notifications@triyosoft.com"/>
    <add key="Port" value="587"/>
    <!--<add key="SiteUrl" value="http://rrpdemo.triyosoft.com/" />
    <add key="SiteUrl" value="http://qamvc.alliancetek.org/triyosoft/" />-->
    <add key="SiteUrl" value="http://dev.threepointturn.com:8028/"/>
    <add key="CompanyID" value="1"/>
    <add key="Role" value="Admin"/>
    <add key="LDAPDomain" value=""/>
    <add key="LDAPDomainAdminUserName" value=""/>
    <add key="LDAPDomainAdminPassword" value=""/>
    <add key="LDAPUser" value=""/>
    <add key="MenuItemID" value="1,2,3,4,5,6,7,8,9,13"/>
    <add key="connectionString" value="Server=localhost\mssqlserver01;Initial Catalog=Triyo;Persist Security Info=False;User ID=sa;Password=Password01!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>