@charset "utf-8";
/* CSS Document */

html {-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */ position: relative; min-height: 100%;}
body{ font-family: 'Open Sans', sans-serif; margin-bottom: 50px; }
h1, h2, h3, h4, h5, h6, ul, ol, li, form, input, textarea, select {margin: 0; padding: 0;}
img {border: 0;}
a {text-decoration: none; outline: none !important; outline-color: transparent !important;}
a:link, a:hover, button:hover {text-decoration: none; -moz-transition: all 0.3s ease-in; -webkit-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }

.mtp0 {margin-top:0px;}
.mtp5 {margin-top:5px;}
.mtp10 {margin-top:10px;}
.mtp15 {margin-top:15px;}
.mtp20 {margin-top:20px;}
.mtp25 {margin-top:25px;}
.mtp30 {margin-top:30px;}
.mtp35 {margin-top:35px;}
.mtp40 {margin-top:40px;}
.mtp45 {margin-top:45px;}

.mbp0 {margin-bottom:0px;}
.mbp5 {margin-bottom:5px;}
.mbp10 {margin-bottom:10px;}
.mbp15 {margin-bottom:15px;}
.mbp20 {margin-bottom:20px;}
.mbp25 {margin-bottom:25px;}
.mbp30 {margin-bottom:30px;}
.mbp35 {margin-bottom:35px;}
.mbp40 {margin-bottom:40px;}
.mbp45 {margin-bottom:45px;}

.ptp0 {padding-top:0px;}
.ptp5 {padding-top:5px;}
.ptp10 {padding-top:10px;}
.ptp15 {padding-top:15px;}
.ptp20 {padding-top:20px;}
.ptp25 {padding-top:25px;}
.ptp30 {padding-top:30px;}
.ptp35 {padding-top:35px;}
.ptp40 {padding-top:40px;}
.ptp45 {padding-top:45px;}

.pbp0 {padding-bottom:0px;}
.pbp5 {padding-bottom:5px;}
.pbp10 {padding-bottom:10px;}
.pbp15 {padding-bottom:15px;}
.pbp20 {padding-bottom:20px;}
.pbp25 {padding-bottom:25px;}
.pbp30 {padding-bottom:30px;}
.pbp35 {padding-bottom:35px;}
.pbp40 {padding-bottom:40px;}
.pbp45 {padding-bottom:45px;}

.mr5 { margin-right:5px;}
.mr10 { margin-right:10px;}
.mr20 { margin-right:20px;}
.mr30 { margin-right:30px;}
.mr40 { margin-right:40px;}
.mr50 { margin-right:50px;}
.mr60 { margin-right:60px;}
.mr70 { margin-right:70px;}
.mr80 { margin-right:80px;}

.ml5 { margin-left:5px!important;}
.ml10 { margin-left:10px;}
.ml20 { margin-left:20px;}
.ml30 { margin-left:30px;}
.ml40 { margin-left:40px;}
.ml50 { margin-left:50px;}

.text-lr-xs{ text-align: left;}
.text-lc-xs{ text-align: left;}
.text-rl-xs { text-align: right;}
.text-rc-xs { text-align: right;}
.text-rl-xs{ text-align: right;}
.text-cl-xs{ text-align: center;}
.text-lr-xs { text-align: left;}
.text-cr-xs { text-align: center;}
.cursor{ cursor: pointer;}
#loading { background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0; display: none; height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 9999;}
.ProgressBar { left: 45%; position: fixed; top: 40%;  z-index: 99999999;}

.table tr th { font-family: 'Open Sans', sans-serif; font-weight: 700;}
.table-responsive.bluetheme .table tr th { background-color: #4ca0dd; color: #fff;}
.nospacetd > .table > tbody > tr > td{ border-top: 0px; padding: 0px;}
/*.table tr th {   background-color: #ececec; background-image: none,linear-gradient(to bottom,rgba(255,255,255,.6) 0,rgba(255,255,255,.0) 100%); font-family: 'latomedium'; font-weight: 600;}*/

.gridthumb{ display: inline-block;}
.gridthumb img{ max-height: 50px; height: 50px; }
.gridthumb .img-thumbnail{ padding: 1px;}

/*.modal-body { margin-bottom: 10px; max-height: calc(100vh - 150px);  overflow-y: auto; }*/
.scroll-popup{ margin-bottom: 10px; max-height: calc(100vh - 170px);  overflow-y: auto; overflow-x: hidden;}
.modal{ z-index: 1040;}
.modal-backdrop{ z-index: 1039;}
.alertmsg, .successmsg{ font-size: 18px; line-height: 23px; }
.closein{ margin-top: -11px;  margin-right: -6px;}
.alertmsg .fa-warning{ color: #f2ad29; font-size: 40px; margin-bottom: 15px;}
.successmsg .fa-check-circle{ color: #65b517; font-size: 40px; margin-bottom: 15px; }
/*===== Gutter Size ======*/
/* 20px gutter*/
.gutter-20.row { margin-right:-10px; margin-left:-10px;}
.gutter-20 > [class^="col-"], .gutter-20 > [class^=" col-"] { padding-right:10px; padding-left:10px;}
/* 5px gutter */
.gutter-5.row { margin-right:-4px; margin-left:-4px;}
.gutter-5 > [class^="col-"], .gutter-5 > [class^=" col-"] { padding-right:4px; padding-left:4px;}
/* 10px gutter */
.gutter-10.row { margin-right:-5px; margin-left:-5px;}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] { padding-right:5px; padding-left:5px;}
/* 0px gutter */
.gutter-0.row { margin-right:0; margin-left:0;}
.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"] { padding-right:0; padding-left:0;}

.tableicon{ padding:1px 6px 2px; line-height: 18px; margin-top: 1px; margin-bottom: 1px; border-radius: 3px; display: inline-block; border: 0px; box-shadow: none;}
.tableicon[disabled], fieldset[disabled] .btn { cursor: not-allowed;  -webkit-box-shadow: none;  box-shadow: none; opacity: .65;
}

.tableicon i{ font-size: 12px;}
.tableicon:hover{ color: #000;}
.tableicon.bluebg{ background: #29aae2; color: #fff;}
.tableicon.greenbg{ background: #7fb61f; color: #fff;}
.tableicon.redbg{ background: #ad1818; color: #fff;}
.tableicon.graybg{ background: #525d66; color: #fff;}

.onlyicon{ display: inline-block; padding:2px 4px 0px;}
.onlyicon i{ font-size: 18px;}
.bluecolor{ color: #1b75bb!important; }
.redcolor{ color: #d04525!important; }
.greencolor{ color: #24ba27!important; }
.purpalcolor{ color: #813b7e!important; }
.lightbluecolor{ color: #00a9ec!important; }
.blackcolor{ color: #121212!important; }


/*==================================
Commen CSS
================================= */
.container{max-width: 980px;}
.mandatory{ color: #ff0000; font-size: 15px; margin-left: 2px;}
.errormessage{ color: #ff0000; font-size: 11px; margin: 0px; padding: 0px; }
.thumbimg{ position: relative; display: inline-block; padding: 5px 8px 8px 0;}
.thumbimg img{ max-height: 75px; min-height: 75px; min-width: 75px;}
.thumbimg .thclose{ background: #e20000; border-radius: 25px; right: 0px; top: -3px;  color: #fff; text-align: center; padding: 3px 6px 4px;; position: absolute; z-index: 9; font-size: 11px;}

/*==================================
Header CSS
================================= */
header{ background: #efefef; padding: 10px 0px; border-bottom: solid 1px #1b75bb; }
.logo{ margin-top: 8px;}
.userbox{ float: right; position: relative;}
.hdbluerow{ -webkit-border-radius: 1px 13px 2px 0/15px 12px 3px 0;	-moz-border-radius: 1px 13px 2px 0/15px 12px 3px 0; border-radius: 1px 13px 2px 0/15px 12px 3px 0; background-color: #1b75bb; padding-left: 10px; color: #fff; padding-right: 15px; text-align: left; margin-right: 0px; font-family:'Open Sans',sans-serif; font-size: 11px;   }
.hdwhiterow{ background: #fff; max-width: 100px; white-space: nowrap; text-overflow: ellipsis; font-family: 'Open Sans',sans-serif; font-size: 14px; padding: 1px 10px 1px 10px; overflow: hidden; color: #565656;}
.hduserphoto{  position: absolute;left: -20px; top: -2px; display: none;}
.hduserphoto img{ width: 45px; height: 45px;  padding: 2px; -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px; background-color: #1b75bb; -webkit-box-shadow: inset 0 0 0 1px #fff; -moz-box-shadow: inset 0 0 0 1px #fff; box-shadow: inset 0 0 0 1px #fff; border: solid 1px #1b75bb; overflow: hidden;}
.inlineuserphoto {
    float:left;
}
.inlineuserphoto img {
    width: 45px;
    height: 45px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    overflow: hidden;
    margin-left:10px;
    margin-right:10px;
}
.inlineuserinfo {
    float:left;
}
.inlineuserinfo h3 {
    position:relative;
    top:8px;
    text-transform: capitalize;
    font-size: 16px;
}
.inlineuserinfo p {
    position: relative;
    top: 5px;
    font-size: 11px;
    padding:0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.logoutbtn{ float: right; border-left: solid 0px #dedede; padding: 11px 8px 11px 10px; margin-left: 0px;}
.logoutbtn:hover{ background: #fafafa; }
.nospaceleft{ padding-left: 0px;}

.navbg{ background: #1b75bb; margin-top: 1px;}
.navbg a{ color: #fff;}

/*==================================
Banner CSS
================================= */

/*==================================
Content CSS
================================= */
.main-heading{ display: block; clear: both; padding: 4px 0px 12px;  border-bottom: solid 1px #d4d4d4; }
.title-row{ background: url(../images/title-row.jpg) left bottom no-repeat;}
.heading01{ font-family: 'Open Sans',sans-serif; font-weight:700; font-size: 20px; color: #1b75bb;}
.tbspace{ padding-top: 22px; padding-bottom: 22px;}

.btnspace{ padding: 6px 15px; display: inline-block; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; color: #fff; font-family:'Open Sans',sans-serif; font-size: 14px; box-shadow: none; border: 0px; margin-top: 1px; margin-bottom: 2px; margin-right: 6px; }
.btnspace:last-child{ margin-right: 0px; }
.btnspace:hover, .btnspace:focus{ color: #fff;}
.btnspace i{ margin-right: 3px;}
/*.btnspace + .btnspace{ margin-left: 6px;}*/

.lightblue-btn{ background-color: #29aae1;	-webkit-box-shadow: inset 0 -2px rgba(20,91,143,.75); -moz-box-shadow: inset 0 -2px rgba(20,91,143,.75); box-shadow: inset 0 -2px rgba(20,91,143,.75); }
.lightblue-btn:hover{ background: #1e9acf;}
.darkblue-btn{ background-color: #1b75bc; -webkit-box-shadow: inset 0 -2px rgba(2,41,69,.75); -moz-box-shadow: inset 0 -2px rgba(2,41,69,.75);	box-shadow: inset 0 -2px rgba(2,41,69,.75); }
.darkblue-btn:hover{ background: #1667a6; }
.darkred-btn{background-color: #ad1818; -webkit-box-shadow: inset 0 -2px rgba(69,2,2,.75); -moz-box-shadow: inset 0 -2px rgba(69,2,2,.75);	box-shadow: inset 0 -2px rgba(69,2,2,.75);}
.darkred-btn:hover{ background: #951010;}

.radiostyle label i{ font-size: 18px; margin-top: 5px;}
.radiostyle label span{ display: block; clear: both; font-size: 10px; margin-top: -2px; }
.radiostyle .btn{ box-shadow: none!important; padding: 0px 8px;}
.radiostyle .btn.active{ background: #fff; border: solid 1px #00a9ec; outline: none!important;}

.PopoverContent{ display: none;}
.popover{ max-width: 450px; }

.loginbox{ max-width: 85%; padding: 28px 15px; margin:  30px auto 10px; background-color: #f9f9f9; -webkit-box-shadow: 0 0 6px #cbcbcb; -moz-box-shadow: 0 0 6px #cbcbcb; box-shadow: 0 0 6px #cbcbcb; }
.loginlogo{ display: block; margin-bottom: 45px; margin-top: 10px; text-align: center;}
.loginform .form-control{ height: 43px; }
.loginform .btnspace{ padding: 10px 15px; font-size: 15px;}
.divShowPassword {position:relative;}
.divShowPassword i {position:absolute;right:3px;top:3px;padding:10px; font-size:16px;}


/*==================================
Footer CSS
================================= */
footer{ background: #e9e9e9; font-size: 14px; color: #595959; padding: 8px 0px; position: absolute; left: 0px; bottom: 0px; right: 0px;}
footer span, footer a, .login-footer span{ font-family:'Open Sans',sans-serif; font-size: 14px; color: #29aae1!important; text-decoration: none; }
.login-footer{ text-align: center; padding: 16px 0 0px; }

@media (min-width: 480px) {
/*==Header CSS== */
.logo{ margin-top: 5px;max-width:145px;max-height:36px;}
.hdwhiterow{ max-width: 160px; }
/*==Banner CSS== */

/*==Content CSS== */

/*==Footer CSS== */
	
}
@media (min-width: 640px) {
/*==Header CSS== */
.hduserphoto{  display: inline-block;}

header{ padding: 16px 0px;}
.logoutbtn{ padding: 11px 12px; border-left: solid 1px #dedede; margin-left: 10px;}
.hdbluerow{ margin-right: 20px; padding-left: 32px; }
.hdwhiterow{ max-width: 300px; padding: 1px 20px 1px 32px; }
.nospaceleft{ padding-left: 0px;}
/*==Banner CSS== */

/*==Content CSS== */

/*==Footer CSS== */
}
@media (min-width: 768px) {

.text-lr-xs{ text-align: right;}
.text-lc-xs{ text-align: center;}
.text-rl-xs { text-align: left;}
.text-rc-xs { text-align: center;}
.text-rl-xs{ text-align: left;}
.text-cl-xs{ text-align: left;}
.text-lr-xs { text-align: right;}
.text-cr-xs { text-align: right;}

	
/*==Header CSS== */

/*==Banner CSS== */

/*==Content CSS== */
.loginbox{ max-width: 400px; padding: 28px; margin:  100px auto 10px; background-color: #f9f9f9; -webkit-box-shadow: 0 0 6px #cbcbcb; -moz-box-shadow: 0 0 6px #cbcbcb; box-shadow: 0 0 6px #cbcbcb; }
	
/*==Footer CSS== */
footer{ padding: 15px 0px;}
	
}

@media (max-width: 767px) {
	.popover-hide-xs .popover{ display: none!important;}
	.sublink{ padding: 0px!important;}
	.sublink .caret{ margin-top: -35px!important;}
	.sublink span.mmenu{ padding: 11px 18px; padding-right: 50px; display: block; }
	.lg-thumb-outer{ display: none;}
	
}
@media (min-width: 992px) {
	
/*== Popup Width == */
.modal-small { width:440px;}
.modal-medium { width:650px;}
.modal-large { width:900px;}
.modal-full { width:calc(100vw -30px);}
.modal-extralarge { width:900px;}
	

/*==Header CSS== */

/*==Banner CSS== */

/*==Content CSS== */

/*==Footer CSS== */
}
@media (min-width: 768px) and (max-width: 1030px){
	
.table-responsive.scroll-sm-md > .table > thead > tr > th,
.table-responsive.scroll-sm-md > .table > tbody > tr > th,
.table-responsive.scroll-sm-md > .table > tfoot > tr > th,
.table-responsive.scroll-sm-md > .table > thead > tr > td,
.table-responsive.scroll-sm-md > .table > tbody > tr > td,
.table-responsive.scroll-sm-md > .table > tfoot > tr > td { white-space: nowrap; }
	
}
@media (min-width: 1100px) {
/*==Header CSS== */

/*==Banner CSS== */

/*==Content CSS== */

/*==Footer CSS== */
}