<script>
    function goBack() {
        window.history.back()
    }
</script>
<br />
<div>
    <h2 class="validation-summary-errors">
        <ul>
            <li>You are not authorised to execute this operation! </li>
        </ul>
    </h2>
    <span class="validationtxt">Please contact your system administrator for details.</span>
    <br />
    <br />
    <a href="javascript:void(0);" class="btn01" onclick="goBack();"><strong>Back</strong></a>
</div>
